/* .main{
    background-color: #F4F4F4;
    border: 2px;
    border-radius: 5px solid black;
    height: 100vh;
    width: cal(100% - 240px);
    
} */
.card-container {
    display: flex;
    justify-content: space-between;

}

.btn {
    margin-right: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #2AD170;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 20px;
}

.no-underline2 {
    color: #F7901D;
    text-decoration: none;
    font-weight: 400;
}

.summary-container {
    width: 290px;
    height: 700px;
    background: #F7F3EF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 15px;
    position: sticky;
    /* top: 80px; */
    /* float: right; */
    
}

.first-row {
    display: flex;
    justify-content: space-between;
}
.freeze-container{
    height: 700px;
    overflow: auto;  
    scrollbar-width: none;
}

.heading-text {
    text-align: left;
    font: normal normal normal 14px/50px Articulat CF;
    color: #707070;
    /* width: 107px; */
    height: 14px;
}

.highlight_btn {
    width: 80px;
    height: 25px;
    margin-top: 10px;
    font: normal normal medium 14px/50px Articulat CF;
    color: #EF5350;
    border-radius: 20px;
    border: 2px solid #EF5350;
    background-color: #F7F3EF;
}

.dot2 {
    height: 10px;
    width: 10px;
    background-color: #EF5350;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

}

.response-text {
    text-align: left;
    /* width: 24px; */
    height: 14px;
    font: normal normal normal 14px/50px Articulat CF;
    color: #312E2D;
    margin-top: 10px;
}

.detail-cont {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.ht {
    height: 40px;
}

.response-text2 {
    /* text-align: left; */
    /* width: 24px; */
    /* height: 30px; */
    font: normal normal normal 14px Articulat CF;
    color: #312E2D;
    margin-top: 10px;
}
.adding{
    margin-top: 30px;
    height: 40px;
}
.bgcolor{
    background-color: #F7F3EF;
    height: 500px;
    padding-left: 10px;
}
.details{
    height: 500px;
    overflow: auto;
    scrollbar-width: none;
}
.chart{
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    padding: 10px;
    /* height : 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.detail-cont2{
    padding-top: 7px;
}