.container {
    width: calc(100vw-'240px');
    height: 60px;
    border: 2px solid;

}
.text-edit{
    color: #988F8C;
    /* padding-left: 10px; */
    border: none;
}
.search-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    padding: 5px;
  }
  .search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
  }
  /* .search-container input[type="text"]:focus {
    border: 1px solid blue;
  } */
  .search-container .search-icon {
    color: #555;
  }