:root {
  --bs-white: #fff;
  --bs-yellow: #F0B41B;
  --bs-black: #000000;
  --bs-gray: #333C4E;
  --bs-gray-dark: rgba(51, 60, 78, 0.9);
  --bs-gray-medium: rgba(51, 60, 78, 0.8);
  --bs-gray-light: rgba(51, 60, 78, 0.7);
  --bs-font-sans-serif: "Urbanist", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 24px;
  --bs-body-color: #333C4E;
  --bs-body-bg: whitesmoke;
  --bs-heading-color: rgba(51, 60, 78, 0.9);
  --bs-heading-size: 20px;
  --bs-link-color: #333C4E;
  --bs-link-hover-color: #F0B41B;
  --bs-border-color: rgba(51, 60, 78, 0.5);
  --bs-border-color-light: rgba(51, 60, 78, 0.1);
  --bs-navbar-brand-font-size: 16px;
  --bs-border-color-table: rgba(27, 27, 27, .2);
  --bs-border-color-dark-table: rgba(27, 27, 27, 1);
  --bs-section-heading: 20px;
  --bs-form-title: 20px;
  --bs-modal-title: 20px;
  --bs-card-title: 16px;
  --bs-card-heading: 20px;
  --bs-table-heading: 16px;
  --bs-form-label: 12px;
  --bs-table-font-size: 16px;
}

body {
  font-family: var(--bs-body-font-family) !important;
  font-size: var(--bs-body-font-size) !important;
  font-weight: var(--bs-body-font-weight) !important;
  line-height: var(--bs-body-line-height) !important;
  color: var(--bs-body-color) !important;
  text-align: var(--bs-body-text-align) !important;
  background-color: var(--bs-body-bg) !important;
  -webkit-text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.content-loader {
  position: absolute;
  z-index: 2;
  background: rgb(255 255 255 / 50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: var(--bs-heading-color);
}

h5 {
  font-size: var(--bs-body-font-size);
}

a {
  text-decoration: none;
  color: var(--bs-gray);
}

.navbar-menu {
  width: 140px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-brand-box {
  padding: 1px 1px 0px;
}

.navbar-toggler {
  border: none 0;
}

.navbar-toggler-icon {
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 22px;
  height: 22px;
}

.navbar-brand {
  max-width: 250px;
  white-space: normal;
}

.menu-item {
  padding: 0px 15px 20px;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
}

.menu-item img {
  margin-bottom: 5px;
}

.menu-item svg {
  margin: 0 auto 5px;
}

.menu-item.active a {
  color: var(--bs-yellow);
  border-bottom: solid 2px var(--bs-yellow);
  padding-bottom: 5px;
  transition: 0.3s;
}

.menu-item.active svg path,
.menu-item:hover svg path,
.menu-item:focus svg path {
  stroke: var(--bs-yellow);
  transition: 0.3s;
}

.menu-item.active svg circle,
.menu-item:hover svg circle,
.menu-item:focus svg circle {
  stroke: var(--bs-yellow);
  transition: 0.3s;
}

.menu-item.active svg rect,
.menu-item:hover svg rect,
.menu-item:focus svg rect {
  stroke: var(--bs-yellow);
  transition: 0.3s;
}

.menu-item.active a,
.menu-item a:hover,
.menu-item a:focus {
  color: var(--bs-yellow);
  transition: 0.3s;
}

.menu-item.menu-item-order.active a path,
.menu-item.menu-item-order a:hover path,
.menu-item.menu-item-order a:focus path {
  fill: var(--bs-yellow);
  transition: 0.3s;
}

.menu-item:first-child.active svg path,
.menu-item:first-child:hover svg path,
.menu-item:first-child:focus svg path,
.menu-item:nth-child(3).active svg path,
.menu-item:nth-child(3):hover svg path,
.menu-item:nth-child(3):focus svg path,
.menu-item:nth-child(6).active svg path,
.menu-item:nth-child(6):hover svg path,
.menu-item:nth-child(6):focus svg path,
.menu-item:nth-child(7).active svg path,
.menu-item:nth-child(7):hover svg path,
.menu-item:nth-child(7):focus svg path {
  stroke: #212529;
}

.menu-item:nth-child(9).active svg path,
.menu-item:nth-child(9):hover svg path,
.menu-item:nth-child(9):focus svg path {
  stroke: var(--bs-yellow);
  transition: 0.3s;
  fill: var(--bs-yellow);
}

.menu-item:nth-child(4).active svg circle,
.menu-item:nth-child(4):hover svg circle,
.menu-item:nth-child(4):focus svg circle,
.menu-item:nth-child(9).active svg circle,
.menu-item:nth-child(9):hover svg circle,
.menu-item:nth-child(9):focus svg circle {
  stroke: #000;
}

.menu-item.active svg,
.menu-item:hover svg,
.menu-item:focus svg {
  fill: var(--bs-yellow);
}

#main-content.container-fluid {
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 10px;
}

#page-title {
  margin-bottom: 40px;
}

.page-title {
  line-height: 19px;
  color: var(--bs-gray);
  text-decoration: none;
}

.track-order {
  margin-bottom: 20px;
}

.track-order .form-control {
  border-radius: 166px;
  padding: 14px 30px;
  border: 1px solid rgba(24, 26, 35, 0.3);
  width: 95%;
}

.track-order .btn-dark {
  background: var(--bs-yellow);
  border-radius: 48px;
  padding: 14.5px 48px;
  position: absolute;
  top: 0;
  right: 15px;
  font-weight: 600;
  line-height: 19px;
  transition: 0.3s;
  border-color: var(--bs-yellow);
}

.track-order .btn-dark:hover {
  background: var(--bs-gray);
  border-color: var(--bs-gray);
  color: #fff;
  transition: 0.3s;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgba(24, 26, 35, 0.3);
  outline: 0;
  box-shadow: none;
}

button:focus:not(:focus-visible),
.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-check:focus+.btn,
.btn:focus {
  background: var(--bs-yellow);
  outline: 0;
  box-shadow: none;
}

.card {
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(0);
  border-radius: 2px;
  border: 0 none;
  padding: 25px;
  margin-bottom: 20px;
}

.card-title {
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 20px;
  color: var(--bs-gray-dark);
}

.card-tracking-result tbody,
.card-tracking-result td,
.card-tracking-result tfoot,
.card-tracking-result th,
.card-tracking-result thead,
.card-tracking-result tr,
.card-order-stats tbody,
.card-order-stats td,
.card-order-stats tfoot,
.card-order-stats th,
.card-order-stats thead,
.card-order-stats tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}

.card-tracking-result th,
.card-order-stats th {
  font-weight: 600;
  font-size: var(--bs-form-label);
  line-height: 14px;
  letter-spacing: 0.01em;
  opacity: 0.7;
  padding-bottom: 5px;
}

.card-tracking-result td,
.card-order-stats td {
  line-height: 19px;
  padding-top: 0;
}

.card-tracking-result tbody tr th:first-child {
  line-height: 24px;
  /* or 150% */
  opacity: 0.7;
}

.card-report-issue .form-control {
  border: 1px solid var(--bs-border-color);
  border-radius: 2px;
  line-height: 19px;
  color: var(--bs-border-color);
  height: 100px;
  resize: none;
}

.btn-submit {
  background: var(--bs-yellow);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  border: 0 none;
  padding: 16px 66px;
  margin-top: 70px;
  float: right;
  transition: 0.3s;
}

.card.card-ad-space {
  box-shadow: none;
  height: 329px;
  border: 1px solid #000000;
  line-height: 19px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-report-issue .form-label {
  font-weight: 600;
  font-size: var(--bs-form-label);
  line-height: 14px;
  letter-spacing: 0.01em;
  opacity: 0.8;
}

.form-select:focus {
  box-shadow: none;
}

.form-check-inline {
  margin-right: 30px;
  vertical-align: top;
  margin-top: 4px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

.form-check-input[type=radio] {
  width: 24px;
  height: 24px;
}

.form-check .form-check-input {
  margin-left: -20px;
  margin-right: 10px;
  background: transparent;
}

.form-check .form-check-input[type=checkbox] {
  border-color: #929BA3;
  border-radius: 2px;
  margin-top: 0px;
}

.form-check-input:checked[type=checkbox] {
  background-color: var(--bs-yellow);
  border-color: var(--bs-yellow);
}

.form-check-input:focus {
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked[type=radio],
.form-check-input:checked[type=radio]:focus {
  background-color: #fff;
  border-color: var(--bs-yellow);
}

.form-check-input:checked[type=radio] {
  background-image: url("../img/circle.svg");
}

.form-check-input[type=radio]:focus {
  border-color: #929BA3;
  outline: 0;
  box-shadow: none;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid var(--bs-border-color);
  border-radius: 2px;
  min-height: 40px;
}

.form-select {
  background: #fff url(../img/arrow-down.svg) no-repeat 98% center / 10px auto;
  border: 1px solid var(--bs-border-color);
  border-radius: 2px;
  min-height: 40px;
}

.form-control:placeholder {
  color: var(--bs-gray-light);
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -5px;
  bottom: -3px;
  background-color: #929BA3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #BEC3C8;
}

input:focus+.slider {
  box-shadow: 0 0 1px #BEC3C8;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  background: var(--bs-yellow);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none;
}

.btn-check:active+.btn:focus,
.btn-check:checked+.btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus {
  box-shadow: none;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #E9E9E9;
  border-color: #ADB1BA;
  color: var(--bs-grey-dark);
}

.modal-header {
  border-bottom-color: #1B1B1B;
}

.modal-header .modal-title {
  font-weight: 600;
  font-size: var(--bs-modal-title);
  line-height: 24px;
}

.modal-content {
  border-radius: 2px;
}

.modal-header {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  padding: 25px;
}

.modal-footer {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-bottom: 25px;
}

.modal-header .btn-close {
  width: 18px;
  height: 18px;
  font-size: 8px;
  border-radius: 100%;
  border: solid 1px #000;
  padding: 0;
  opacity: 1;
}

.modal-header .btn-close:focus {
  box-shadow: none;
}

.input-group .input-group-text:before {
  content: "";
  background: #D0D1D9;
  width: 1px;
  height: 18px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
}

.form-control+.input-group-text {
  background: #fff;
  border-radius: 0px 2px 2px 0;
  border: 1px solid var(--bs-border-color);
  border-left: 0;
}

.input-group .form-control+.input-group-text:before {
  content: "";
  background: #D0D1D9;
  width: 1px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 10px;
  z-index: 5;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
  padding: 20px;
  font-weight: 600;
  color: var(--bs-gray);
}

.accordion-button::after {
  width: 22px;
  height: 22px;
  background-image: url("../img/arrow-accordion.svg");
  background-size: 22px auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../img/arrow-accordion.svg");
}

.accordion-flush .accordion-item {
  border-bottom-color: rgb(27, 27, 27, .2);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(229, 233, 241, .3);
  box-shadow: none;
}

.accordion-flush .accordion-collapse {
  background-color: rgb(229, 233, 241, .3);
}

.modal .select2-container {
  width: 100% !important;
}

.select2-container {
  width: 100%;
}

.select2-container--default .select2-selection--single {
  border: 1px solid var(--bs-border-color);
  border-radius: 2px;
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: rgba(51, 60, 78, .5);
  line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(51, 60, 78, .5) transparent transparent transparent;
  border-width: 9px 5px 0 5px;
  margin-left: -10px;
  margin-top: 2px;
}

.select2-dropdown {
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  backdrop-filter: blur(12px);
  background: #FFFFFF;
  border: 1px solid var(--bs-border-color);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #E5E9F1;
  color: var(--bs-gray);
}

.select2-results__option {
  padding: 10px;
}

.select2-container--default .select2-results__option--selected {
  background: transparent url(../img/select.svg) no-repeat 98% center / 22px auto;
  font-weight: 600;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #fff;
  border-color: var(--bs-yellow);
}

.btn.btn-link {
  text-decoration: none;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  border-radius: 0;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
  color: var(--bs-yellow);
}

.btn.btn-link:focus {
  background: transparent;
  outline: 0;
  box-shadow: none;
}

.btn.btn-link img {
  margin-right: 7px;
  vertical-align: middle;
}

#NDRTabContent .card-body {
  padding: 25px;
}

.modal .btn.btn-primary,
.modal .btn.btn-outline-primary:hover {
  width: 184px;
  height: 50px;
  background: var(--bs-yellow);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  border: 1px solid var(--bs-yellow);
  margin-top: 80px;
}

.modal .btn.btn-outline-primary {
  width: 184px;
  height: 50px;
  border: 1px solid var(--bs-yellow);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  margin-top: 80px;
}

.subtitle h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--bs-gray-dark);
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
  width: 184px;
  height: 50px;
  background: var(--bs-yellow);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  border: 1px solid var(--bs-yellow);
  margin-top: 80px;
  color: var(--bs-gray);
}

.btn.btn-outline-primary {
  width: 184px;
  height: 50px;
  border: 1px solid var(--bs-yellow);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  margin-top: 80px;
  color: var(--bs-gray);
}

.btn-primary.btn:disabled {
  background: rgba(51, 60, 78, 0.3);
  border-radius: 4px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  border: 0 solid rgba(51, 60, 78, 0.3);
  margin-top: 80px;
  color: rgba(51, 60, 78, 0.7);
}

action-btn a {
  transition: 0.3s;
}

tr:hover .action-btn a {
  transition: 0.3s;
}

.card .card-body .action-btn a {
  transition: 0.3s;
}

.card .card-body:hover .action-btn a {
  transition: 0.3s;
}

.form-title {
  font-weight: 600;
  font-size: var(--bs-form-title);
  line-height: 24px;
  margin-top: 60px;
  margin-bottom: 15px;
}

h4.form-title span {
  font-size: var(--bs-body-font-size);
}

.form-label {
  font-weight: 600;
  font-size: var(--bs-form-label);
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--bs-gray-medium);
}

.is-invalid .form-control,
.is-invalid .form-select {
  border: solid 1px #E14046;
  background-image: none;
}

.is-invalid.form-control:focus {
  border-color: #E14046;
  box-shadow: none;
}

.is-invalid .invalid-feedback {
  display: block;
}

.invalid-feedback {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E14046;
}

.is-invalid .form-label {
  color: #E14046;
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
  color: #dc3545;
}

.is-invalid .input-group .input-group-text {
  border-color: #E14046;
}

.alert-success {
  --bs-alert-bg: #90D7A0;
  --bs-alert-border-color: #90D7A0;
}

.alert-primary {
  --bs-alert-bg: #8DE5F1;
  --bs-alert-border-color: #8DE5F1;
}

.alert-danger {
  --bs-alert-color: #E14046;
  --bs-alert-bg: #FFD2D2;
  --bs-alert-border-color: #FFD2D2;
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: 875px;
  }
}

@media (max-width: 1072px) {
  .timeline .timeline-item:after {
    height: 134px;
  }
}

@media (max-width: 950px) {
  #main-content.container-fluid {
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .menu-item a img {
    width: 32px;
  }

  .menu-item a {
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .offcanvas {
    max-width: 80%;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }

  #page-title {
    margin-bottom: 30px;
  }

  .page-title {
    line-height: 34px;
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  #main-content.container-fluid {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .track-order .btn-dark {
    top: -18px;
    right: 13px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .track-order .form-control {
    width: 100%;
  }

  .card-tracking-result th,
  .card-tracking-result td {
    white-space: nowrap;
  }

  .card-tracking-result th:first-child {
    white-space: normal;
  }

  .card-tracking-result th:first-child img {
    float: none !important;
    display: block;
  }

  .menu-item a img {}

  .menu-item svg {
    margin: 0 15px 0 0;
    width: 22px;
  }

  .menu-item:first-child svg {
    margin: 0 15px 0 0;
    width: 22px;
  }

  .menu-item a {
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .offcanvas {
    max-width: 80%;
  }

  .modal .btn {
    width: 140px !important;
  }
}

.second-level a {
  flex-direction: row !important;
  align-items: center !important;
  padding: 5px 10px;
  position: relative !important;
  font-size: 12px;
  border-bottom: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  z-index: 9999;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.tooltip-div {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
  overflow: scroll;
}

.tooltip-div .label {
  padding: 4px 10px;
  background: #ffedad;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  margin: 0px;
  text-align: left;
}

.tooltip-div .item {
  padding: 4px 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  margin: 0px;
  text-align: left;
}