.stepper-container {
    /* width: 200px; */
    height: 700px;
    background: #F8F7F7 0% 0% no-repeat padding-box;
    border-radius: 3px 0px 0px 3px;
}

.second-container-stepper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/28px Articulat CF;
    letter-spacing: 0px;
    color: #312E2D;
    opacity: 1;
}

.back-btn {
    border: none;
    background-color: white;
    color: #F7901D;
    font-weight: 600;
    margin: 8px;
    padding: 5px;
    align-items: center;
    /* width: 93px; */
    height: 30px;
}

.disable-btn {
    margin: 8px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #E3E3E3;
    opacity: 1;
    color: #E3E3E3;
    background-color: white;
    top: 126px;
    left: 1243px;
    width: 93px;
    height: 30px;
}

.step_Label {
    color: #F7901D;
    font-weight: 600;
}

/* .scroll-box {
    height: 400px;
    overflow: auto;

} */
.form-inputbox-text{
    width: 220px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
}
.form-inputbox2-text{
    width: 460px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
}
.custom-cell{
    border: 2px solid grey;
    border-radius: 5px;
}
.mui{
    margin: 10px;
    font: normal normal medium 14px/25px Articulat CF;
}
.freeze-container2{
    height: 550px;
    overflow: auto;  
    scrollbar-width: none;
}