.create-btn {
    margin: 8px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #F7901D;
    opacity: 1;
    color: #F7901D;
    background-color: white;
    top: 126px;
    left: 1243px;
    width: 93px;
    height: 30px;
}

.icon-btn {
    /* top: 273px;
    left: 1286px; */
    width: 30px;
    height: 30px;
    /* UI Properties */
    /* border: 1px solid #F7901D; */
    opacity: 1;
    color: #F7901D;
    padding: 5px;
    fill: #F7901D;

    /* background-color: white; */
}

.svg-icon {
    fill: #F7901D;
}

.confirm {
    margin: 8px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    border: 2px solid red;
    opacity: 1;
    color: black;
    background-color: red;
    width: 93px;
    height: 30px;
}

.cancel {
    margin: 8px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    border: 2px solid green;
    opacity: 1;
    color: white;
    background-color: green;
    width: 93px;
    height: 30px;
}

.no-underline {
    color: #0CA8F2;
    text-decoration: none;
    font-weight: 400;
}

.second-conatiner-object {
    display: flex;
    justify-content: left;
    font: normal normal normal 12px/28px Articulat CF;
    color: #312E2D;
    padding: 10px;
}

.first-container-headings {
    text-align: left;
    font: normal normal normal 14px/28px Articulat CF;
    color: #707070;
}